body {
  background-size: cover;
  font-family: cursive;
  background-color: #0730a0;
}

header {
  background-color: #440bc9;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: black;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
}

#tabla{
  margin-top: 20px;
  position: absolute;
  margin-left: 300px;
}

section {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border: #050101 solid 15px;
}

#juegos-recomendados{
  width: 70%;
  display: inline-block;
}

aside{
  width: 25%;
  float: right;
}
.imagen {
  border: 2px solid #333333;
  padding: 10px;
  margin-bottom: 20px;
}

h2 {
  color: #050101;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  text-align: justify;
  margin-bottom: 20px;
}

footer {
  background-color: #333333;
  color: white;
  padding: 10px;
  margin-top: 20px;
  height: 250px;
}

#Contacto{
  margin-left: 30%;
  position: absolute;
  width: 25%;
}

li a{
  color: white;
}

a{
  text-decoration: none;
}

a:hover{
  color: blue;
}

nav a:hover{
  color: aliceblue;
}

#ayuda{
  margin-left: 55%;
  width: 25%;
  float: left;
}

#sigueme{
  position: absolute;
}

#tabla-juegos{
  width: 100%;
  text-align: center;
  border: #050101 solid 5px;
}

.imagenP2{
  width: 350px;
  height: 200px;
}

#juegosPlay, #consolasPlay{
  width: 70%;
  display: inline-block;
}

#infoPlay{
  float: right;
  width: 20%;
  margin-top: -300px;
  margin-right: 50px;
}

.play{
  width: 300px;
  height: 100px;
}

.consola{
  width: 150px;
  height: 100px;
}

#tablaPlay{
  width: 20%;
}